:root > * {
    /*--md-code-hl-operator-color: #CCCCCC;*/
    --md-code-hl-number-color: #FFC600;
    --md-code-hl-string-color: #ADF195;
    --md-code-hl-comment-color: #666666;
    --md-code-hl-keyword-color: #F86D7C;
    --md-code-hl-function-color: #FDFBAC;

    /*--md-code-hl-name-color: #CCCCCC;*/

    --md-code-fg-color: #CCCCCC;
    /*--md-code-bg-color: #252525;*/
}

/*"RobloxDefault": {
    "Default": "#CCCCCC",
    "Operator": "#CCCCCC",
    "Number": "#FFC600",
    "String": "#ADF195",
    "Comment": "#666666",
    "Keyword": "#F86D7C",
    "Builtin": "#84D6F7",
    "Method": "#FDFBAC",
    "Property": "#61A1F1",
    "Nil": "#FFC600",
    "Bool": "#FFC600",
    "Function": "#F86D7C",
    "Local": "#F86D7C",
    "Self": "#F86D7C",
    "LuauKeyword": "#F86D7C",
    "FunctionName": "#FDFBAC",
    "TODO": "#666666",
    "Background": "#252525",
    "SelectionText": "#FFFFFF",
    "SelectionBackground": "#0B5AAF",
    "FindSelectionBackground": "#8D7600",
    "MatchingWordBackground": "#555555",
    "Warning": "#FF7315",
    "Error": "#FF0000",
    "Hint": "#008BDB",
    "Info": "#4F4F4F",
    "ActiveLine": "#2D3241",
    "Whitespace": "#555555",
    "DebuggerCurrentLine": "#2A3C4C",
    "DebuggerErrorLine": "#4C2A2A",
    "Ruler": "#666666",
    "Bracket": "#CCCCCC",
    "MenuPrimaryText": "#FFFFFF",
    "MenuSecondaryText": "#666666",
    "MenuSelectedText": "#FFFFFF",
    "MenuBackground": "#2E2E2E",
    "MenuSelectedBackground": "#265AA9",
    "MenuScrollbarBackground": "#2E2E2E",
    "MenuScrollbarHandle": "#B3B3B3",
    "MenuBorder": "#000000",
    "DocViewCodeBackground": "#424242",
    "AICOOverlayText": "#FFFFFF",
    "AICOOverlayButtonBackground": "#3C3C3C",
    "AICOOverlayButtonBackgroundHover": "#424242",
    "AICOOverlayButtonBackgroundPressed": "#333333",
    "IndentationRuler": "#666666"
},*/